.playing-sec {
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
}

.playing-container {
  display: flex;

  gap: 200px;
  padding: 0 40px;
}

.playing-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  animation: linear infinite 8s animation;
}

.playing-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.playing-title {
  font-size: 30px;
}

.slider {
  width: 100vw;

  height: 20px;
  position: absolute;
  top: -15px;
  cursor: grab;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0 7px rgb(204, 197, 197);
  background-color: rgb(107, 44, 150);
  z-index: -1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  height: 30px;
  width: 30px;
}

@keyframes animation {
  100% {
    transform: rotateZ(360deg);
  }
}
