.song-card {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  gap: 30px;
  padding: 10px 0;
}

.song-card::before {
  content: " ";

  background-color: rgb(177, 177, 177);
  opacity: 0.2;
  position: absolute;
  box-shadow: 0 0 0px 2px rgb(211, 211, 211);
  top: 50%;
  backdrop-filter: blur(5px);
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 12px;
}

.song-img {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

.next-btn,
.play-btn,
.prev-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  fill: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  outline: none;
  border: none;
  background-color: #b9b9b9;
  opacity: 0.9;
  transition: all 1s;
  z-index: 5;
}

:where(.next-btn, .play-btn, .prev-btn):hover {
  box-shadow: 0 0 15px 1px #422855;
}
